<div class = "upperPart" id = "especialMenu">
    <div style="margin-left: 0.5rem; margin-top: 0rem;">
      <div class="Titles1s ">
        <img class="CalendarLogo" id="dedlogo" src="/buosinback.png" alt="logo"/>
      </div>
      <div class="Titles1s sedan-sc-regular proyectosDeCronos">
        <p class= "proyectosDeCronos1" style="margin-left: 10%;">Calendario de Cronos</p>
        <!-- <button id= "buttonForSaveCalendar" class="proyectosDeCronos1" style="font-size: 1rem;">Click to Save to database and show events</button> -->

      </div>

    </div>
</div>
<div id="calendar23"></div>

<p> </p>




