<% if( true ) { %>
<div class="page-footer pd-tp-0">
     <div class="footer-copyright blue-coffer-hub">
          <div class="container">
               <footer>
                    <div style="text-align: center;">
                        <p>© 2024 Cronos - Todos los derechos reservados.</p>
                        <p>Para más información o asistencia, por favor contáctanos a <a href="mailto:aypierre223@gmail.com">aypierre223@gmail.com</a>.</p>
                        <ul style="list-style: none; padding: 0;">
                            <li><a href="https://aaronhernandez.me" target="_blank">Visita nuestro sitio web</a></li>
                            <li><a href="https://github.com/Aaron3312/CronosProyect1.git" target="_blank">Código fuente en GitHub</a></li>
                            <li><a href="/license" target="_blank">Licencia</a></li>
                        </ul>
                    </div>
                </footer>
                
          </div>
     </div>
</div>
<% } %>