body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(100deg, #e1cdab, #fefaf2);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Titles1s{
    --body-font: 'Nunito', sans-serif;
    display: flex;
    font-size: 6rem;
    color: #a48249;
    max-width: calc(100% - 5rem);
    line-height: 1.1;
    margin-top: -14rem;
    margin-left: 1rem;
    /* margin-top: -2rem; */
  }
  
  .sedan-sc-regular {
    font-family: "Sedan SC", serif;
    font-weight: 400;
    font-style: normal;
  }
  

.formulario {
    margin-left: -6.5rem;
    width: 90%;
    max-width: 500px;
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.formulario h1 {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.formulario form {
    padding: 0 20px;
    box-sizing: border-box;
}

.form .fullname,
.form .username,
.form .password,
.form .password2 {
    position: relative;
    margin: 20px 0;
}

.form input {
    font-size: 1rem;
    font-family: inherit;
    color: inherit;
    padding: 0.3rem 0.6rem;
    border-radius: 2px;
    border: none;
    border-bottom: 3px solid #11122b;
    width: 100%;
    display: block;
    transition: all 0.3s;
}

.form input:focus {
    outline: none;
    border-bottom: 3px solid #cea135;
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.1);
}

.form input::-webkit-input-placeholder {
    color: #11122b;
}

.form input:focus::-webkit-input-placeholder {
    color: transparent;
}

.form label {
    font-size: 1rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
    color: #cea135;
    visibility: hidden;
    opacity: 0;
}

.form input:focus + label {
    transform: translateY(-1rem);
    visibility: visible;
    opacity: 1;
    color: #cea135;
}

.Ol {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1rem;
    text-align: center;
}

.Login {
    margin-bottom: 2rem;
    text-align: center;
}

a.google {
    background: #4787ed;
}

input[type="submit"] {
    background: linear-gradient(126deg, #e4b871, #e0ddd6);
    width: 100%;
    height: 50px;
    border: 1px solid;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    transition: background 0.3s;
}

input[type="submit"]:hover {
    background-color: #cea135;
}

.Login:active {
    box-shadow: 0.6rem 0.6rem 0.6rem rgba(0, 0, 0, 0.4);
}

.Registrarse,
.Log {
    font-size: 1rem;
    margin: 30px 0;
    text-align: center;
}

/* Estilo del botón */
form button[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #e4b871;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

/* Efecto hover para el botón */
form button[type="submit"]:hover {
    background-color: #6b5734;
}
.buologaso{
    width: 100%; 
    margin-left: 40%; 
    margin-top: -5rem; 
}
.buoLogo3{
    width: 20rem;
}
.ggg4buo{
    margin-bottom: -6rem;
}


@media (max-width: 800px) {
    .buologaso{
        width: 100%; 
        margin-left: 40%; 
        margin-top: -5rem; 
    }
    .buoLogo3{
        width: 20rem;
        margin-left: -35%;
    }
    .ggg4buo{
        margin-left: -5rem;
    }
}