<%- layout('layout/main') %>
    <div class="formulario">
        <h1>Registro</h1>
        <form action="/signup" method="post">
            <div class="form">
                <div class="fullanme">
                    <input type="text" name="name" placeholder="Full name" required>
                    <label >Nombre de Usuario</label>
                </div>
                <div class="username">
                    <input type="email"  name="email" placeholder="Your email" required>
                    <label >Nombre de Usuario</label>
                </div>
                <div class="password">
                    <input type="password" name = "password" placeholder="Your password" required >
                    <label >Password</label>
                </div>
            </div>
            <div class="Ol">
                <a href="#">Olvido su contraseña</a>
            </div>
            <div class="Login">
                <button type="submit"> Signup </button>
            </div>
            <div class="Login">
                <div class="Log">
                    Have account ? <a href="/signin">Login</a>
                </div>
            </div>
        </form>
    </div>
