<%- layout('layout/main') %>
<div class="formulario">
    <h1>Iniciar sesión</h1>
    <form action="/signin"  method="post">
        <div class="form">
            <div class="username">
                <input type="email" id ="email" name="email"  placeholder="Tu correo" required>
                <label >Usuario </label>
            </div>
            <div class="password">
                <input type="password" id = "password" name="password"  placeholder="Tu contraseña" required >
                <label >contraseña</label>
            </div>
        </div>
        <div class="Ol">
            <!-- <div>
                <a href="#">Olvido su contraseña</a>
            </div> -->
            <div>
                
            </div>
        </div>
        <div class="Login">
            <button type="submit" >
                Entrar
            </button>
        <div class="Registro">
            <div class="Registrarse">
                No tienes cuenta? <a href="/signup">Registrarse</a>
            </div>
            <div class="Log">
                No sabes que es Cronos? <a href="/what_is_cronos">¿Qué es Cronos?</a>
            </div>
        </div>
        </div>
    </form>
    <ul>
        <% if(messages.success_msg) { %>
        <li><%= messages.success_msg %></li>
        <% } %>
    </ul>
    <ul>
        <% if (messages.error && messages.error.length > 0) { %>
                <% messages.error.forEach(function(message) { %>
                    <p><%= message %></p>
                <% }); %>
        <% } %>
    </ul>
</div>