/* this file is loaded by index.html and styles the page */

* {
  box-sizing: border-box;
}
html{
  background-color: #fefaf2;
  font-family: "Sedan SC", serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
  z-index: 0;
}

html::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/assets/background2.png');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.05; /* Define la opacidad aquí */ 
  /*cambiamos el tono de la imagen de fondo */

  z-index: -1; /* Envía el pseudo-elemento detrás del contenido */
  /*el contenido es interactivo */
  pointer-events: none;
  height: 47rem;
}



.Titles1s{
  display: flex;
  font-size: 6rem;
  color: #a48249;
  max-width: calc(100% - 5rem);
  line-height: 1.1;
  flex-direction: row;
  justify-content: center;
  
  /* margin-top: -2rem; */
}

.highlight {
  background-color: rgb(31, 128, 254) !important;/* Cambia el color según tus necesidades */
}

.highlight-click {
  background-color: rgb(79, 255, 111) !important;/* Cambia el color según tus necesidades */
}
.sedan-sc-regular {
  font-family: "Sedan SC", serif;
  font-weight: 400;
  font-style: normal;
}

.proyectsLogo{
  margin-left: -29%;
}

#dedlogo{
  width: 200px;
  height: 200px;
  margin-top: -2.4rem;
}

.main1{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  color: #a48249;
  background-color: #fefaf2;
  font-family: "Sedan SC", serif;
  font-weight: 400;
  font-style: normal;  margin: 3em 1em;
  line-height: 1.5em;

  
}






h1 {
  color: #7171d1;
  max-width: calc(100% - 5rem);
  line-height: 1.1;
}

table {
  width: 100%;
  margin-left: 0rem;
}



/*.content-container {
width: 50%;
border: 1px solid #ccc;
padding: 20px;
margin: 20px;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
*/

.tableContainer{
  display: flex;

}


#buttonForSaveCalendar{
  background-color: #95743b; /* saddle brown */
  color: white;
  border: none;
  width: 15%;
  height: 4rem;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-left: 5%;
  cursor: pointer;
  border-radius: 8px;
}

.NotionImg{
  width: 100px;
  height: 100px;
  margin-top: -1rem;
  margin-left: 4rem;
  margin-top: -3rem; 
  margin-left: 40%;
  flex-direction: column;
}

.tableForProyects{
  display: flex;
  flex-direction: column;
  width: 25%;
  border: 1px solid #a48249;
  border-radius: 2rem;
  margin-top: 3rem;
  padding: 1rem;
  box-shadow: 0 0 40px #a48249;
}

.brown-buttonforproyectsname {
  background-color: #95743b; /* saddle brown */
  color: white;
  border: none;
  width: 100%;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}
.tableForTasks{
  display: flex;
  flex-direction: column;
  width: 30%;
  border: 1px solid #a48249;
  border-radius: 2rem;
  margin-top: 3rem;
  margin-left: 2rem;
  padding: 1rem;
  box-shadow: 0 0 40px #a48249;
}

.titlesForTables{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-self: center;
  margin-top: 0.5rem;
  margin-left: 20%;
  color: #a48249;
  


}
.tableForSteps{
  display: flex;
  flex-direction: column;
  width: 45%;
  border: 1px solid #a48249;
  border-radius: 2rem;
  margin-top: 3rem;
  margin-left: 2rem;
  padding: 1rem;
  box-shadow: 0 0 40px #a48249;
}

.brown-buttonforTasks {
  background-color: #95743b; /* saddle brown */
  color: white;
  border: none;
  width: 100%;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}


.brown-buttonforSteps {
  background-color: #fefaf2; /* saddle brown */
  color: #a48249;
  border: none;
  width: 100%;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 8px;
}


.calendar-container {
width: 50%;
border: 0px solid #ccc;
border-radius: 10px;
}

.main-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.fc-scrollgrid-liquid{
  margin-left: -2rem !important;
}



.div2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}
.menuhide{
  background-color: #a48249;  /* Color azul */
  color: white;              /* Texto blanco */
  border: none;              /* Sin bordes */
  padding: 10px 20px;        /* Espaciado interno */
  font-size: 16px;           /* Tamaño de fuente */
  border-radius: 5px;        /* Bordes redondeados */
  cursor: pointer;           /* Cursor en forma de mano */
  transition: background-color 0.3s, transform 0.3s;  /* Transición suave de color y transformación */
  margin-left: 4rem;
  margin-top: 1rem ;
  margin-bottom: 1rem;
}


th {
  text-align: left;
  
}

td {
  width: 50%;
  word-break: break-all;

}

form {
  /* background-color: #e3cdaa; */
  display: grid;
  grid-gap: 1em;
  padding: 1em;

}

input {
  border: 1px solid silver;
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}

form input[type="submit"] {
  background-color: #ffed84;
  border: 2px solid currentColor;
  border-radius: 0.25em;
  cursor: pointer;
  font-size: inherit;
  line-height: 1.4em;
  padding: 0.25em 1em;
  max-width: 20ch;
  cursor: pointer;
  margin-left: auto;
}

#databaseForm {
  margin-bottom: -2rem;
  margin-right: 1rem;
}

form input[type="submit"]:hover {
  background-color: #9292d3;
}

form input[type="submit"]:active {
  background-color: #b2b2d5;
}

footer {
  margin-top: 3em;
  padding-top: 1.5em;
  border-top: 1px solid lightgrey;
}
.proyectosDeCronos{
  margin-left: -4rem;
  margin-top: -4rem;
   min-width: 90rem;
}
.containerForLogoProyects{
  display: flex;
  flex-direction: column;
}


.lettersNotion{
  margin-top: 1rem; font-size: 1.5rem;  flex-direction: column; margin-left: 2rem; color: #a48147;
}

.loading-text {
  font-size: 24px;                     /* Tamaño de la fuente */
  font-family: 'Arial', sans-serif;    /* Tipo de fuente */
  color: #a48249;                      /* Color del texto */
  text-align: center;                  /* Alineación del texto */
  padding: 20px;                       /* Espaciado interno */
  background-color: #f0be6b;           /* Color de fondo */
  border-radius: 10px;                 /* Bordes redondeados */
  width: 200px;                        /* Ancho del elemento */
  margin: 100px auto;                  /* Centrado con margen vertical */
  box-shadow: 0 8px 16px rgba(81, 47, 3, 0.717); /* Sombra para resaltar */
  animation: pulse 1.5s infinite;      /* Animación definida a continuación */
}


.fc-view-harness {
  margin-left: 4rem;
}



.responsive-table {
  width: 90%;
  border-collapse: collapse;
  background-color: #e9dbc5;
  margin-left: 3%;
}

.responsive-table th,
.responsive-table td {
  border: 1px solid #ddd;
  padding: 8px;
  font-size: 1.4rem;
}

.responsive-table th {
  background-color: #f2f2f2;
  text-align: left;
}



/* hacemos el texto mas pequeño si la pantalla es menor de 800 px   */
@media (max-width: 800px) {

  .responsive-table thead {
    display: none; /* Ocultar los encabezados en dispositivos móviles */
  }

  .responsive-table thead,
  .responsive-table tbody,
  .responsive-table th,
  .responsive-table td,
  .responsive-table tr {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .responsive-table tr {
    margin-bottom: 40px;
  }

  .responsive-table td,
  .responsive-table th {
    text-align: left;
    position: relative;
  }

  .responsive-table td:before,
  .responsive-table th:before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 100%;
    padding-left: 15px;
    font-weight: bold;
    text-align: left;
  }

  .column-header,
  .column-content {
    text-align: left;
    padding-left: 15px;
    font-size: 1.2rem;
  }
  .dfs312{
    margin-bottom: 2rem;
  }

  .proyectosDeCronos1{
    margin-left: -60rem;
    max-width: 10rem;
    
  }
  .menuhide {
    margin-left: 1rem;
  }
  table {
    margin-left: 0rem;
  }
  .loading-text {
    font-size: 1rem;
  }
    .main-container {
      flex-direction: column;
      margin-top: 2rem !important;
      padding: 5px;
  }
  .calendar-container {
    width: 100%;
    display: none;
  }
  .content-container {
    width: 100% !important;
    margin: 5px;
    padding: 5px;
  }
  /* escondemos el calendario */
  .calendar {
    display: none;    
  }
  .div2{
    flex-direction: column;
  }
  .tableContainer{
    flex-direction: column;
  }
  
.tableForProyects{
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #a48249;
  border-radius: 2rem;
  margin-top: 3rem;
  padding: 1rem;
  box-shadow: 0 0 40px #a48249;
}

.tableForTasks{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 0rem;
  margin-top: 1rem;

}
.tableForSteps{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 0rem;
  margin-top: 1rem;
}

.brown-buttonforTasks {
  background-color: #95743b; /* saddle brown */
  color: white;
  border: none;
  width: 100%;
}


.brown-buttonforSteps {
  background-color: #f8f9fa; /* saddle brown */
  color: #a48249;
  border: none;
  width: 100%;
}



.Titles1s{
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  color: #a48249;
  max-width: calc(100% - 5rem);
  line-height: 1.1;

  /* margin-top: -2rem; */
}
.titulosNecesarios{
  justify-content: center;
  align-items: center;
}

.proyectosDeCronos1{
  margin-left: 5%;
  max-width: 10rem;
}
.NotionImg{
  margin-left: 10%;
  justify-content: center;
  margin-top: 0rem;
}

.proyectsLogo{
  margin-left: -10%;
}
.lettersNotion{
  max-width: 19%;

  margin-left: 5%;
}
.TituloCronosAsk{
  margin-top: 1rem;
}

}

/* Animación que cambia la escala y la opacidad para dar un efecto pulsante */
@keyframes pulse {
  0%, 100% {
    transform: scale(1);   /* Escala normal */
    opacity: 1;            /* Opacidad total */
  }
  50% {
    transform: scale(1.1); /* Aumenta la escala */
    opacity: 0.7;          /* Reduce la opacidad */
  }
}
