/* this file is loaded by index.html and styles the page */

* {
  box-sizing: border-box;
}
html{
  background-color: #fefaf2;
  font-family: "Sedan SC", serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
  z-index: 0;
}

html::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/assets/background2.png');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.05; /* Define la opacidad aquí */ 
  /*cambiamos el tono de la imagen de fondo */

  z-index: -1; /* Envía el pseudo-elemento detrás del contenido */
  /*el contenido es interactivo */
  pointer-events: none;
  height: 47rem;
}



.Titles1s{
  display: flex;
  font-size: 6rem;
  color: #a48249;
  max-width: calc(100% - 5rem);
  line-height: 1.1;
  flex-direction: row;
  justify-content: center;
  margin-top: -2rem;
}

.sedan-sc-regular {
  font-family: "Sedan SC", serif;
  font-weight: 400;
  font-style: normal;
}


#dedlogo{
  width: 200px;
  height: 200px;
}

.main1{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  color: #a48249;
  font-family: "Sedan SC", serif;
  font-weight: 400;
  font-style: normal;  margin: 3em 1em;
  line-height: 1.5em;

  
}






h1 {
  color: #7171d1;
  max-width: calc(100% - 5rem);
  line-height: 1.1;
}

table {
  width: 100%;
  margin-left: 4rem;
}



/*.content-container {
width: 50%;
border: 1px solid #ccc;
padding: 20px;
margin: 20px;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
*/

.calendar-container {
width: 50%;
border: 1px solid #ccc;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.main-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.fc-scrollgrid-liquid{
  margin-left: -2rem !important;
}



.div2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}
.menuhide{
  background-color: #e3cdaa;  /* Color azul */
  color: white;              /* Texto blanco */
  border: none;              /* Sin bordes */
  padding: 10px 20px;        /* Espaciado interno */
  font-size: 16px;           /* Tamaño de fuente */
  border-radius: 5px;        /* Bordes redondeados */
  cursor: pointer;           /* Cursor en forma de mano */
  transition: background-color 0.3s, transform 0.3s;  /* Transición suave de color y transformación */
  margin-left: 4rem;
}


th {
  text-align: left;
  
}

td {
  width: 50%;
  word-break: break-all;

}

form {
  background-color: #e3cdaa;
  display: grid;
  grid-gap: 1em;
  padding: 1em;

}

input {
  border: 1px solid silver;
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}

form input[type="submit"] {
  background-color: #ffed84;
  border: 2px solid currentColor;
  border-radius: 0.25em;
  cursor: pointer;
  font-size: inherit;
  line-height: 1.4em;
  padding: 0.25em 1em;
  max-width: 20ch;
  cursor: pointer;
  margin-left: auto;
}

form input[type="submit"]:hover {
  background-color: #9292d3;
}

form input[type="submit"]:active {
  background-color: #b2b2d5;
}

footer {
  margin-top: 3em;
  padding-top: 1.5em;
  border-top: 1px solid lightgrey;
}


.loading-text {
  font-size: 24px;                     /* Tamaño de la fuente */
  font-family: 'Arial', sans-serif;    /* Tipo de fuente */
  color: #a48249;                      /* Color del texto */
  text-align: center;                  /* Alineación del texto */
  padding: 20px;                       /* Espaciado interno */
  background-color: #f0be6b;           /* Color de fondo */
  border-radius: 10px;                 /* Bordes redondeados */
  width: 200px;                        /* Ancho del elemento */
  margin: 100px auto;                  /* Centrado con margen vertical */
  box-shadow: 0 8px 16px rgba(81, 47, 3, 0.717); /* Sombra para resaltar */
  animation: pulse 1.5s infinite;      /* Animación definida a continuación */
}
/* hacemos el texto mas pequeño si la pantalla es menor de 800 px   */
@media (max-width: 800px) {
  .menuhide {
    margin-left: 1rem;
  }
  table {
    margin-left: 0rem;
  }
  .loading-text {
    font-size: 1rem;
  }
    .main-container {
      flex-direction: column;
      margin-top: 2rem !important;
      padding: 5px;
  }
  .calendar-container {
    width: 100%;
    display: none;
  }
  .content-container {
    width: 100% !important;
    margin: 5px;
    padding: 5px;
  }
  /* escondemos el calendario */
  .calendar {
    display: none;    
  }
  .div2{
    flex-direction: column;
  }
  
}

/* Animación que cambia la escala y la opacidad para dar un efecto pulsante */
@keyframes pulse {
  0%, 100% {
    transform: scale(1);   /* Escala normal */
    opacity: 1;            /* Opacidad total */
  }
  50% {
    transform: scale(1.1); /* Aumenta la escala */
    opacity: 0.7;          /* Reduce la opacidad */
  }
}
