<%- layout('layouts/main') %>
<div class="formulario">
    <h1>Registro</h1>
    <form action="/signup" method="post">
        <div class="form">
            <div class="form-group">
                <input type="text" name="name" placeholder="Full name" required>
                <label>Nombre de Usuario</label>
            </div>
            <div class="form-group">
                <input type="email" name="email" placeholder="Your email" required>
                <label>Correo Electrónico</label>
            </div>
            <div class="form-group">
                <input type="password" name="password" placeholder="Your password" required>
                <label>Password</label>
            </div>
            <div class="form-group">
                <input type="password" id="password2" name="password2" placeholder="Confirm Password" required>
                <label>Confirmar Password</label>
            </div>
        </div>
        <!-- <div class="Ol">
            <a href="#">Olvido su contraseña</a>
        </div> -->
        <div class="Login">
            <button type="submit">Signup</button>
        </div>
        <div class="Login">
            <div class="Log">
                ¿Ya tienes cuenta? <a href="/signin">Login</a>
            </div>
        </div>
    </form>
    <ul>
        <% if (typeof errors != 'undefined') { %>
        <% errors.forEach(error => { %>
        <li><%= error.message %></li>
        <% }) %>
        <% } %>
    </ul>
</div>
