<%- layout('layouts/main') %>
<div class="formulario">
    <h1>Log in</h1>
    <form action="/signin"  method="post">
        <div class="form">
            <div class="username">
                <input type="email" id ="email" name="email"  placeholder="Your email" required>
                <label >Nombre de Usuario</label>
            </div>
            <div class="password">
                <input type="password" id = "password" name="password"  placeholder="Your Password" required >
                <label >Password</label>
            </div>
        </div>
        <div class="Ol">
            <!-- <div>
                <a href="#">Olvido su contraseña</a>
            </div> -->
            <div>
                
            </div>
        </div>
        <div class="Login">
            <button type="submit" >
                Signin
            </button>
        <div class="Registro">
            <div class="Registrarse">
                Don't have account ? <a href="/signup">Signup</a>
            </div>
        </div>
        </div>
    </form>
    <ul>
        <% if(messages.success_msg) { %>
        <li><%= messages.success_msg %></li>
        <% } %>
    </ul>
    <ul>
        <% if (messages.error && messages.error.length > 0) { %>
                <% messages.error.forEach(function(message) { %>
                    <p><%= message %></p>
                <% }); %>
        <% } %>
    </ul>
</div>