<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Proyecto Cronos" />

    <!-- Favicon -->
    <link href="Bou.png" rel="icon" />
		<link href="Bou.png" rel="apple-touch-icon" />

    <!-- FullCalendar -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.10.1/main.min.css">


    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet"/>

    <!-- Bootstrap CSS -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet" />
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet"/>
		<link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
		<link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" />
		<link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <title>Cronos Demo</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/css/style1.css" />
    <link rel="stylesheet" href="/style.css" />
    
    <!-- import the webpage's client-side javascript file -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/client.js" defer></script>
  </head>
  <!-- <div class="loader" id="loader"></div> -->
  <body>

           <!-- Sidebar -->
       <nav class="navbar navbar-inverse fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
          <div class="sidebar-header">
          <div class="sidebar-brand">
            <a href="#">Brand</a></div></div>
          <li><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#events">Events</a></li>
          <li><a href="#team">Team</a></li>
          <li class="dropdown">
          <a href="#works" class="dropdown-toggle"  data-toggle="dropdown">Works <span class="caret"></span></a>
        <ul class="dropdown-menu animated fadeInLeft" role="menu">
         <div class="dropdown-header">Dropdown heading</div>
         <li><a href="#pictures">Pictures</a></li>
         <li><a href="#videos">Videeos</a></li>
         <li><a href="#books">Books</a></li>
         <li><a href="#art">Art</a></li>
         <li><a href="#awards">Awards</a></li>
         </ul>
         </li>
         <li><a href="#services">Services</a></li>
         <li><a href="#contact">Contact</a></li>
         <li><a href="#followme">Follow me</a></li>
         </ul>
     </nav>
           <!-- /#sidebar-wrapper -->

           <!-- Page Content -->
           <div id="page-content-wrapper">
               <button type="button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
                   <span class="hamb-top"></span>
             <span class="hamb-middle"></span>
           <span class="hamb-bottom"></span>
               </button>
               <div class="container">
                   <div class="row">
                       <div class="col-lg-8 col-lg-offset-2">
                           <h1>Fancy Toggle Sidebar Navigation</h1>

                   </div>
               </div>
           </div>
           <!-- /#page-content-wrapper -->
   
       </div>
       <!-- /#wrapper -->
    <!-- Inicia el contenido de la pagina Cronos -->




    
    <!-- scripts para el uso general de la pagina -->
    <script src="assets/inicia.js"></script>
    <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
		<script src="assets/vendor/aos/aos.js"></script>
		<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
		<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
		<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
		<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
		<script src="assets/vendor/typed.js/typed.umd.js"></script>
		<script src="assets/vendor/waypoints/noframework.waypoints.js"></script>

    <!-- FullCalendar -->
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
  </body>
</html>
