<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/logi.css">
    <link href="Bou.png" rel="icon" />
    <link href="Bou.png" rel="apple-touch-icon" />
    <title>registro Cronos</title>

</head>
<body>
        <div style="margin-left: 5.5rem; width: 100%; margin-left: 40%; margin-top: -5rem; ">
          <img id="dedlogo" style="width: 20rem;" src="/buosinback.png" alt="logo"/>
        <div class="sedan-sc-regular Titles1s" style="margin-bottom: -6rem;">
          <p>Cronos</p>
        </div>
    <%- body%>
</body>
</html>