<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/logi.css">
    <link href="Bou.png" rel="icon" />
    <link href="Bou.png" rel="apple-touch-icon" />
    <title>registro Cronos</title>

</head>
<body>
        <div class="buologaso" >
          <img id="dedlogo" class="buoLogo3" src="/buosinback.png" alt="logo"/>
        <div class="sedan-sc-regular Titles1s ggg4buo titulosNecesarios">
          <p>Cronos</p>
        </div>
    <%- body%>
</body>
</html>